openapi: 3.0.0
info:
  title: RedIQ External API
  version: 1.0.0
  description: Public API for programmatic access to RedIQ rent roll processing.
  contact:
    name: RedIQ Support
    email: support@rediq.io
servers:
  - url: https://connect.rediq.io
    description: Production
tags:
  - name: Upload & Processing
    description: Upload rent roll files and track processing status
  - name: Deals
    description: Create, read, update, and delete deals for linking rent rolls
  - name: API Key Management
    description: Admin endpoints for managing API keys (requires JWT authentication)
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: "API Key: `Bearer <api-key>` or `ApiKey <api-key>` or `<api-key>`"
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for admin endpoints
  schemas:
    DealResponse:
      type: object
      properties:
        counterId:
          type: integer
          description: Sequential deal number within the account. Use this as dealId when
            uploading rent rolls.
          example: 42
        dealName:
          type: string
          description: Name of the deal
          example: Sunset Plaza Apartments
        address:
          type: string
          nullable: true
          example: 123 Main St
        city:
          type: string
          nullable: true
          example: Austin
        state:
          type: string
          nullable: true
          example: TX
        zip:
          type: string
          nullable: true
          example: "78701"
        unitCount:
          type: integer
          nullable: true
          example: 128
        createdOn:
          type: string
          format: date-time
          nullable: true
          description: Deal creation timestamp (UTC)
        lastModifiedOn:
          type: string
          format: date-time
          nullable: true
          description: Last modification timestamp (UTC)
paths:
  /api/external/v1/upload:
    post:
      summary: Upload rent roll files
      description: Upload rent roll files with notification preferences. Accepts up to
        20 files in Excel, CSV, or ODS format. Files are queued for asynchronous
        processing.
      operationId: uploadRentRolls
      tags:
        - Upload & Processing
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - files
                - notificationMethod
              properties:
                files:
                  type: array
                  description: Rent roll files (.xlsx, .xls, .xlsm, .csv, .ods). Max 2MB/file, up
                    to 20 files.
                  minItems: 1
                  maxItems: 20
                  items:
                    type: string
                    format: binary
                notificationMethod:
                  type: string
                  description: 'JSON array of notification methods. Example:
                    [{"type":"email","entry":"user@example.com"},{"type":"webhook","entry":"https://api.example.com/webhook"}]'
                  example: '[{"type":"email","entry":"user@example.com"}]'
                dealId:
                  type: integer
                  description: Optional. The counterId of an existing deal to link the uploaded
                    rent rolls to. Use the Deals API to create a deal first,
                    then pass its counterId here.
                  example: 42
      responses:
        "202":
          description: Files accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: integer
                    example: 202
                  requestId:
                    type: string
                    description: Unique request identifier (ULID format)
                  data:
                    type: object
                    properties:
                      batchId:
                        type: string
                        format: uuid
                        description: Unique batch identifier for tracking
                      status:
                        type: string
                        enum:
                          - queued
                        description: Current status of the batch
                      filesUploaded:
                        type: integer
                        description: Number of files successfully uploaded
                      filesQueued:
                        type: integer
                        description: Number of files queued for processing
                      estimatedTotalUnits:
                        type: integer
                        description: Estimated total units across all files
                      message:
                        type: string
                        description: Human-readable status message
                      estimatedCompletionMinutes:
                        type: number
                        description: Estimated processing time in minutes
                      trackingUrl:
                        type: string
                        format: uri
                        description: URL to track batch status
                      createdAt:
                        type: string
                        format: date-time
                        description: Batch creation timestamp
        "400":
          description: Bad request - invalid files, notification method, or validation
            errors
        "401":
          description: Authentication failed - missing, invalid, deleted, or revoked API key
        "403":
          description: Forbidden - API access not enabled or insufficient credits
        "429":
          description: Rate limit exceeded
        "500":
          description: Internal server error
  /api/external/v1/job/{batchId}/status:
    get:
      summary: Get batch job status
      description: Retrieve the current status of a batch upload job, including status
        of individual files and download links when complete.
      operationId: getJobStatus
      tags:
        - Upload & Processing
      security:
        - ApiKeyAuth: []
      parameters:
        - name: batchId
          in: path
          required: true
          description: Batch ID returned from upload endpoint
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Job status retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: integer
                    example: 200
                  requestId:
                    type: string
                    description: Unique request identifier (ULID format)
                  data:
                    type: object
                    properties:
                      batchId:
                        type: string
                        format: uuid
                        description: Unique batch identifier
                      status:
                        type: string
                        enum:
                          - queued
                          - in progress
                          - complete
                          - failed
                          - partially complete
                        description: Current batch status
                      fileCount:
                        type: integer
                        description: Total files in batch
                      filesCompleted:
                        type: integer
                        description: Files successfully processed
                      filesInProgress:
                        type: integer
                        description: Files currently processing
                      filesFailed:
                        type: integer
                        description: Files that failed to process
                      percentComplete:
                        type: number
                        minimum: 0
                        maximum: 100
                        description: Processing progress percentage
                      estimatedTotalUnits:
                        type: integer
                        nullable: true
                        description: Estimated total units across all files
                      actualTotalUnits:
                        type: integer
                        nullable: true
                        description: Actual total units processed (available when complete)
                      errorMessage:
                        type: string
                        nullable: true
                        description: Error message if batch failed or partially completed
                      createdAt:
                        type: string
                        format: date-time
                        description: Batch creation timestamp
                      updatedAt:
                        type: string
                        format: date-time
                        description: Last update timestamp
                      batchDownloads:
                        type: array
                        description: Batch download links (available when complete)
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: Download type (e.g., zip, excel, json)
                            downloadUrl:
                              type: string
                              format: uri
                              description: Pre-signed download URL
                            expiresAt:
                              type: string
                              format: date-time
                              description: URL expiration timestamp
                      files:
                        type: array
                        description: Individual file status details
                        items:
                          type: object
                          properties:
                            fileId:
                              type: string
                              format: uuid
                              description: Unique file identifier
                            fileName:
                              type: string
                              description: Original file name
                            status:
                              type: string
                              enum:
                                - uploaded
                                - in progress
                                - complete
                                - failed
                              description: File processing status
                            downloadUrl:
                              type: string
                              format: uri
                              nullable: true
                              description: Download URL when complete
                            errorMessage:
                              type: string
                              nullable: true
                              description: Error message if failed
                            createdAt:
                              type: string
                              format: date-time
                              description: File upload timestamp
                            updatedAt:
                              type: string
                              format: date-time
                              description: Last update timestamp
        "401":
          description: Authentication failed - missing, invalid, deleted, or revoked API key
        "403":
          description: Access denied - job belongs to another account
        "404":
          description: Job not found
        "429":
          description: Rate limit exceeded
        "500":
          description: Internal server error
  /api/external/v1/deals:
    post:
      summary: Create a new deal
      description: Create a deal to group and organize rent roll uploads. After
        creating a deal, use the returned counterId as the dealId parameter when
        uploading rent rolls. Requires an API key with an assigned user.
      operationId: createDeal
      tags:
        - Deals
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - dealName
              properties:
                dealName:
                  type: string
                  description: Name of the deal
                  example: Sunset Plaza Apartments
                address:
                  type: string
                  description: Property address
                  example: 123 Main St
                city:
                  type: string
                  description: Property city
                  example: Austin
                state:
                  type: string
                  description: Property state
                  example: TX
                zip:
                  type: string
                  description: Property zip code
                  example: "78701"
                unitCount:
                  type: integer
                  description: Number of units in the property
                  example: 128
      responses:
        "201":
          description: Deal created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: integer
                    example: 201
                  requestId:
                    type: string
                  data:
                    $ref: "#/components/schemas/DealResponse"
        "400":
          description: Validation error
        "401":
          description: Authentication failed
        "403":
          description: API key does not have an assigned user
        "429":
          description: Rate limit exceeded
    get:
      summary: List deals
      description: List all deals for your account with pagination and optional search.
      operationId: listDeals
      tags:
        - Deals
      security:
        - ApiKeyAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number (1-based)
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
          description: Number of deals per page (max 100)
        - name: search
          in: query
          schema:
            type: string
          description: Search by deal name
      responses:
        "200":
          description: Deals retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: integer
                    example: 200
                  requestId:
                    type: string
                  data:
                    type: object
                    properties:
                      deals:
                        type: array
                        items:
                          $ref: "#/components/schemas/DealResponse"
                      total:
                        type: integer
                      page:
                        type: integer
                      limit:
                        type: integer
        "401":
          description: Authentication failed
        "429":
          description: Rate limit exceeded
  /api/external/v1/deals/{counterId}:
    get:
      summary: Get a deal
      description: Retrieve a specific deal by its counter ID.
      operationId: getDeal
      tags:
        - Deals
      security:
        - ApiKeyAuth: []
      parameters:
        - name: counterId
          in: path
          required: true
          schema:
            type: integer
          description: The deal's counter ID
      responses:
        "200":
          description: Deal retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: integer
                    example: 200
                  requestId:
                    type: string
                  data:
                    $ref: "#/components/schemas/DealResponse"
        "401":
          description: Authentication failed
        "404":
          description: Deal not found
        "429":
          description: Rate limit exceeded
    put:
      summary: Update a deal
      description: Update an existing deal. Only the fields provided will be updated.
        Requires an API key with an assigned user.
      operationId: updateDeal
      tags:
        - Deals
      security:
        - ApiKeyAuth: []
      parameters:
        - name: counterId
          in: path
          required: true
          schema:
            type: integer
          description: The deal's counter ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dealName:
                  type: string
                  description: Name of the deal
                address:
                  type: string
                  description: Property address
                city:
                  type: string
                  description: Property city
                state:
                  type: string
                  description: Property state
                zip:
                  type: string
                  description: Property zip code
                unitCount:
                  type: integer
                  description: Number of units in the property
      responses:
        "200":
          description: Deal updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: integer
                    example: 200
                  requestId:
                    type: string
                  data:
                    $ref: "#/components/schemas/DealResponse"
        "400":
          description: Validation error
        "401":
          description: Authentication failed
        "403":
          description: API key does not have an assigned user
        "404":
          description: Deal not found
        "429":
          description: Rate limit exceeded
    delete:
      summary: Delete a deal
      description: Soft-delete a deal. The deal will no longer appear in listings.
        Requires an API key with an assigned user.
      operationId: deleteDeal
      tags:
        - Deals
      security:
        - ApiKeyAuth: []
      parameters:
        - name: counterId
          in: path
          required: true
          schema:
            type: integer
          description: The deal's counter ID
      responses:
        "200":
          description: Deal deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: integer
                    example: 200
                  requestId:
                    type: string
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Deal 42 deleted successfully
        "401":
          description: Authentication failed
        "403":
          description: API key does not have an assigned user
        "404":
          description: Deal not found
        "429":
          description: Rate limit exceeded
  /api/admin/api-keys:
    get:
      summary: List API keys for account
      description: Retrieve all API keys for the authenticated user's account
      operationId: listApiKeys
      tags:
        - API Key Management
      security:
        - BearerAuth: []
      responses:
        "200":
          description: API keys retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: integer
                    example: 200
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        keyPreview:
                          type: string
                          description: First 8 chars of key
                        status:
                          type: string
                          enum:
                            - active
                            - revoked
                        createdAt:
                          type: string
                          format: date-time
                        lastUsedAt:
                          type: string
                          format: date-time
                          nullable: true
        "401":
          description: Unauthorized
    post:
      summary: Create new API key
      description: Generate a new API key for the account. The full key is only
        returned once.
      operationId: createApiKey
      tags:
        - API Key Management
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  maxLength: 100
                  description: Descriptive name for the API key
      responses:
        "201":
          description: API key created
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: integer
                    example: 201
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      key:
                        type: string
                        description: Full API key - store securely, shown only once
                      createdAt:
                        type: string
                        format: date-time
        "401":
          description: Unauthorized
  /api/admin/api-keys/{id}:
    get:
      summary: Get API key details
      operationId: getApiKey
      tags:
        - API Key Management
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: API key details
        "404":
          description: API key not found
    delete:
      summary: Delete API key
      description: Permanently delete an API key. This action cannot be undone.
      operationId: deleteApiKey
      tags:
        - API Key Management
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: API key deleted
        "404":
          description: API key not found
  /api/admin/api-keys/{id}/revoke:
    patch:
      summary: Revoke API key
      description: Revoke an API key. Revoked keys cannot be used but remain in the system.
      operationId: revokeApiKey
      tags:
        - API Key Management
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: API key revoked
        "404":
          description: API key not found
  /api/admin/api-keys/{id}/regenerate:
    post:
      summary: Regenerate API key
      description: Generate a new key value. The old key becomes invalid immediately.
      operationId: regenerateApiKey
      tags:
        - API Key Management
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: API key regenerated
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      key:
                        type: string
                        description: New API key - store securely
        "404":
          description: API key not found
