openapi: "3.0.0"
info:
  title: Radix Underwriting - Rent Roll API
  version: "1.0.0"
  description: |
    Public API for programmatic access to AI-powered rent roll standardization.

    ## Overview
    Upload raw rent roll files and receive standardized, structured data back.
    Files are processed asynchronously — upload, then poll for status or receive a webhook/email notification when complete.

    ## Authentication
    All requests require an API key in the `Authorization` header:
    ```
    Authorization: Bearer riq_live_your_api_key_here
    ```
    API keys can be obtained through the redIQ platform under External API settings.

    ## Credits
    Each account has a monthly credit limit. Credits are consumed based on the number of units
    in the uploaded rent rolls. Check your remaining credits in the redIQ platform.
  contact:
    name: Radix Underwriting Support
    email: support@rediq.io

servers:
  - url: https://connect.rediq.io
    description: Production

tags:
  - name: Upload & Processing
    description: Upload rent roll files and track processing status

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: "Use format: `Bearer <api-key>`"

  schemas:
    UploadResponse:
      type: object
      properties:
        statuscode:
          type: integer
          example: 202
        requestId:
          type: string
          description: Unique request identifier
          example: "f07361dc1cc4b7cf5738efbca470e824"
        data:
          $ref: "#/components/schemas/UploadResponseData"

    UploadResponseData:
      type: object
      properties:
        batchId:
          type: string
          format: uuid
          description: Unique batch identifier for tracking
          example: "6af30011-af82-4425-a1ad-406db4b0995c"
        status:
          type: string
          enum: [queued]
          description: Initial status is always "queued"
          example: "queued"
        filesUploaded:
          type: integer
          description: Number of files successfully uploaded
          example: 3
        filesQueued:
          type: integer
          description: Number of files queued for processing
          example: 3
        estimatedTotalUnits:
          type: integer
          description: Estimated total units across all files
          example: 35
        message:
          type: string
          description: Human-readable status message
          example: "Files uploaded successfully. Processing started."
        estimatedCompletionMinutes:
          type: number
          description: Estimated processing time in minutes
          example: 5.0
        trackingUrl:
          type: string
          format: uri
          description: URL to poll for batch status
          example: "https://connect.rediq.io/api/external/v1/job/6af30011-af82-4425-a1ad-406db4b0995c/status"
        createdAt:
          type: string
          format: date-time
          description: Batch creation timestamp (UTC)
          example: "2026-02-09T19:32:43.643Z"

    JobStatusResponse:
      type: object
      properties:
        statuscode:
          type: integer
          example: 200
        requestId:
          type: string
          description: Unique request identifier
          example: "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6"
        data:
          $ref: "#/components/schemas/JobStatusResponseData"

    JobStatusResponseData:
      type: object
      properties:
        batchId:
          type: string
          format: uuid
          description: Unique batch identifier
        status:
          type: string
          enum: [queued, in progress, complete, failed, partially complete]
          description: Current batch processing status
        fileCount:
          type: integer
          description: Total number of files in the batch
        filesCompleted:
          type: integer
          description: Number of files successfully processed
        filesInProgress:
          type: integer
          description: Number of files currently being processed
        filesFailed:
          type: integer
          description: Number of files that failed processing
        percentComplete:
          type: number
          minimum: 0
          maximum: 100
          description: Processing progress percentage (0-100)
        estimatedTotalUnits:
          type: integer
          nullable: true
          description: Estimated total units across all files
        actualTotalUnits:
          type: integer
          nullable: true
          description: Actual total units processed (available when complete)
        errorMessage:
          type: string
          nullable: true
          description: Error details if batch failed or partially completed
        createdAt:
          type: string
          format: date-time
          description: Batch creation timestamp (UTC)
        updatedAt:
          type: string
          format: date-time
          description: Last status update timestamp (UTC)
        files:
          type: array
          description: Individual file status details
          items:
            $ref: "#/components/schemas/FileStatus"
        batchDownloads:
          type: array
          nullable: true
          description: Batch download links (available when processing is complete)
          items:
            $ref: "#/components/schemas/BatchDownload"

    FileStatus:
      type: object
      properties:
        fileId:
          type: string
          format: uuid
          description: Unique file identifier
        fileName:
          type: string
          description: Original uploaded file name
          example: "aurora-128.xlsx"
        status:
          type: string
          enum: [uploaded, in progress, complete, failed]
          description: Individual file processing status
        downloadUrl:
          type: string
          format: uri
          nullable: true
          description: Pre-signed download URL for processed output (available when complete)
        errorMessage:
          type: string
          nullable: true
          description: Error message if file processing failed
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    BatchDownload:
      type: object
      properties:
        type:
          type: string
          description: "Download format type (e.g., json, excel)"
        downloadUrl:
          type: string
          format: uri
          description: Pre-signed download URL
        expiresAt:
          type: string
          format: date-time
          description: URL expiration timestamp (UTC)

    ErrorResponse:
      type: object
      properties:
        statusCode:
          type: integer
        error:
          type: object
          properties:
            message:
              type: string
              description: Human-readable error message
            code:
              type: string
              description: Machine-readable error code

paths:
  /api/external/v1/upload:
    post:
      summary: Upload rent roll files
      description: |
        Upload one or more Excel rent roll files for AI-powered standardization.

        - **Max file size:** 2 MB per file
        - **Max files per request:** 20

        Files are queued for asynchronous processing. Use the returned `trackingUrl`
        to poll for status, or specify `notificationMethod` to receive email/webhook
        notifications when processing completes.
      operationId: uploadRentRolls
      tags:
        - Upload & Processing
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - files
                - notificationMethod
              properties:
                files:
                  type: array
                  description: Excel rent roll files. Max 2 MB per file, up to 20 files.
                  minItems: 1
                  maxItems: 20
                  items:
                    type: string
                    format: binary
                notificationMethod:
                  type: string
                  description: |
                    JSON array of notification methods. At least one is required.

                    **Email notification:**
                    ```json
                    [{"type": "email", "entry": "user@example.com"}]
                    ```

                    **Webhook notification (HTTPS only):**
                    ```json
                    [{"type": "webhook", "entry": "https://api.example.com/webhook"}]
                    ```

                    **Both:**
                    ```json
                    [
                      {"type": "email", "entry": "user@example.com"},
                      {"type": "webhook", "entry": "https://hooks.zapier.com/abc123"}
                    ]
                    ```
                  example: '[{"type":"email","entry":"user@example.com"}]'
      responses:
        "202":
          description: Files accepted and queued for processing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadResponse"
              example:
                statuscode: 202
                requestId: "f07361dc1cc4b7cf5738efbca470e824"
                data:
                  batchId: "6af30011-af82-4425-a1ad-406db4b0995c"
                  status: "queued"
                  filesUploaded: 1
                  filesQueued: 1
                  estimatedTotalUnits: 35
                  message: "Files uploaded successfully. Processing started."
                  estimatedCompletionMinutes: 5.0
                  trackingUrl: "https://connect.rediq.io/api/external/v1/job/6af30011-af82-4425-a1ad-406db4b0995c/status"
                  createdAt: "2026-02-09T19:32:43.643Z"
        "400":
          description: Bad request — invalid files, notification method, or validation errors
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                statuscode: 400
                requestId: "abc123"
                error:
                  message: "At least one file is required"
        "401":
          description: Authentication failed — missing, invalid, deleted, or revoked API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                statusCode: 401
                error:
                  message: "Invalid API key"
                  code: "INVALID_KEY"
        "403":
          description: API access not enabled or insufficient credits
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                statusCode: 403
                error:
                  message: "Insufficient credits to process this request"
        "429":
          description: Rate limit exceeded
        "500":
          description: Internal server error

  /api/external/v1/job/{batchId}/status:
    get:
      summary: Get batch job status
      description: |
        Retrieve the current processing status of a batch upload job.

        Returns status of the overall batch, individual file statuses, and download
        links when processing is complete.

        **Recommended polling interval:** Every 30 seconds.

        Only the API key that created the batch can query its status.
      operationId: getJobStatus
      tags:
        - Upload & Processing
      security:
        - ApiKeyAuth: []
      parameters:
        - name: batchId
          in: path
          required: true
          description: Batch ID returned from the upload endpoint
          schema:
            type: string
            format: uuid
            example: "6af30011-af82-4425-a1ad-406db4b0995c"
      responses:
        "200":
          description: Job status retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobStatusResponse"
              examples:
                queued:
                  summary: Job queued
                  value:
                    statuscode: 200
                    requestId: "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6"
                    data:
                      batchId: "6af30011-af82-4425-a1ad-406db4b0995c"
                      status: "queued"
                      fileCount: 2
                      filesCompleted: 0
                      filesInProgress: 0
                      filesFailed: 0
                      percentComplete: 0.0
                      estimatedTotalUnits: 70
                      actualTotalUnits: null
                      errorMessage: null
                      createdAt: "2026-02-09T19:32:43.643Z"
                      updatedAt: "2026-02-09T19:32:43.643Z"
                      files:
                        - fileId: "05e9078d-2023-4e60-8a9f-ad9da5208301"
                          fileName: "aurora-128.xlsx"
                          status: "uploaded"
                          downloadUrl: null
                          errorMessage: null
                          createdAt: "2026-02-09T19:32:43.643Z"
                          updatedAt: "2026-02-09T19:32:43.643Z"
                        - fileId: "a1b2c3d4-5678-9abc-def0-123456789abc"
                          fileName: "sunset-plaza.xlsx"
                          status: "uploaded"
                          downloadUrl: null
                          errorMessage: null
                          createdAt: "2026-02-09T19:32:43.643Z"
                          updatedAt: "2026-02-09T19:32:43.643Z"
                complete:
                  summary: Job complete with batch downloads
                  value:
                    statuscode: 200
                    requestId: "c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8"
                    data:
                      batchId: "6af30011-af82-4425-a1ad-406db4b0995c"
                      status: "complete"
                      fileCount: 2
                      filesCompleted: 2
                      filesInProgress: 0
                      filesFailed: 0
                      percentComplete: 100.0
                      estimatedTotalUnits: 70
                      actualTotalUnits: 68
                      errorMessage: null
                      createdAt: "2026-02-09T19:32:43.643Z"
                      updatedAt: "2026-02-09T19:37:00.000Z"
                      files:
                        - fileId: "05e9078d-2023-4e60-8a9f-ad9da5208301"
                          fileName: "aurora-128.xlsx"
                          status: "complete"
                          downloadUrl: "https://external-api-rent-rolls.s3.amazonaws.com/..."
                          errorMessage: null
                          createdAt: "2026-02-09T19:32:43.643Z"
                          updatedAt: "2026-02-09T19:34:55.000Z"
                        - fileId: "a1b2c3d4-5678-9abc-def0-123456789abc"
                          fileName: "sunset-plaza.xlsx"
                          status: "complete"
                          downloadUrl: "https://external-api-rent-rolls.s3.amazonaws.com/..."
                          errorMessage: null
                          createdAt: "2026-02-09T19:32:43.643Z"
                          updatedAt: "2026-02-09T19:37:00.000Z"
                      batchDownloads:
                        - type: "json"
                          downloadUrl: "https://external-api-rent-rolls.s3.amazonaws.com/..."
                          expiresAt: "2026-02-10T19:37:00.000Z"
                        - type: "excel"
                          downloadUrl: "https://external-api-rent-rolls.s3.amazonaws.com/..."
                          expiresAt: "2026-02-10T19:37:00.000Z"
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Access denied — job belongs to a different API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                statusCode: 403
                error:
                  message: "You do not have permission to access this job"
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                statuscode: 404
                requestId: "abc123"
                error: "Job not found"
        "429":
          description: Rate limit exceeded
        "500":
          description: Internal server error
